<!doctype html>
<html ng-app="phonecatApp">
	<head>
		<title>Hello AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <script src="js/phonecatController.js"></script>
	</head>

	<body ng-controller="PhoneListCtrl">
        <p>Hello {{name}}</p>
        
        <ul>
            <li ng-repeat="phone in phones">
                <span>{{phone.name}}</span>
                <p>{{phone.snippet}}</p>
            </li>
        </ul>
        
        <p>Total number of phones: {{phones.length}}</p>
        
        <table>
            <tr><th ng-repeat="i in [0, 1, 2, 3, 4]">Row number {{i + 1}}</th></tr>
            <tr ng-repeat="i in [0, 1, 2, 3, 4]">
                <td ng-repeat="j in [0, 1, 2, 3, 4]">{{i + j}}</td>
            </tr>
        </table>
	</body>
</html>